[submodule "husky"]
	path = husky
	url = https://github.com/norlab-ulaval/husky.git
[submodule "marmotte"]
	path = marmotte
	url = https://github.com/norlab-ulaval/marmotte_description.git
[submodule "warthog"]
	path = warthog
	url = https://github.com/norlab-ulaval/warthog_description.git
[submodule "backpack"]
	path = backpack
	url = https://github.com/norlab-ulaval/backpack_description.git
